body {
  color: rgb(162, 107, 230); 
  color: hsl(267, 71%, 66%); 
  color: hsl(267, 71%, 40%); 
  color: rgb(95, 30, 174); 
  color: rgb(107, 230, 224);
  color: hsl(177, 71%, 66%);
  color: hsl(177, 71%, 40%);
  color: hsl(177, 71%, 30%);
  color: rgb(230, 106, 112);
  color: rgb(174, 230, 106);



)